<div class="container">
  <h4>(全<%= @posts.count %>件)</h4>
  <ul>
    <% @posts.each do |post| %>
    <li>
      <%= link_to post_path(post.id) do %>
        <% if post.image.attached? %>
          <%= image_tag post.image, size: "100x100" %>
        <% else %>
          <%= image_tag "no_image", size: "100x100" %>
        <% end %>
      <%= post.genre.name %></td>
      <%= post.title %>
        <div class="card-img-overlay text-white">
        <i class="fas fa-comment"></i><%#= post.comments.count %><!--<span class="fa-layers-text fa-inverse" data-fa-transform="shrink-8 down-3" style="font-weight:900">27</span>-->
        <i class="fas fa-thumbs-up"></i><%#= post.likes.count %>
        </div>
      <% end %>
    </li>
    <% end %>
  </ul>
</div>


