<div class="container">
  <div class="row mt-5">
    <div class="col-md-10 mx-auto">
      <h4>(全<%= @posts.count %>件)</h4>
      <div class="d-flex flex-wrap">
      <% @posts.each do |post| %>
        <%= link_to post_path(post.id) do %>
          <%#= image_tag post.get_image, size:'160x160', class: 'shadow' %>
          <%= post.genre.name %></td>
          <%= post.title %>
          <% if post.image.attached? %>
            <%= image_tag post.image.variant(gravity: :center, resize:"200x200", crop:"640x640+0+0").processed %>
          <% else %>
            <%= image_tag "no_image", size: "100x100" %>
          <% end %>
          <%= post.comments.count %>コメント
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>