<div class="container">
  <div class="row mt-5">
    <div class="col-md-10 mx-auto">
      <%= form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |f| %>
  <%= f.text_field :keyword, placeholder: "キーワード", class: "search-input" %>
  <%= f.submit "検索", class: "search-btn" %>
<% end %>
      <% if @searches == [] %>
<h2 class = "seach-result">検索結果はありません</h2>
<% else %>
<div class = "post-contents">
  <ul class = "post-list">
    <% @searches.each do |post| %>
    <%= link_to post_path(post.id) do %>
          <%= post.genre.name %></td>
          <%= post.title %>
          <% if post.image.attached? %>
            <%= image_tag post.image.variant(gravity: :center, resize:"200x200", crop:"640x640+0+0").processed %>
          <% else %>
            <%= image_tag "no_image", size: "100x100" %>
          <% end %>
          <%= post.comments.count %>コメント
          <%= post.likes.count %> いいね
        <% end %>
      <% end %>
      <% end %>
</div>
</div>
  </div>
</div>

