<div class="card text-dark mt-4 mb-4 mx-auto" style="width: 35rem;">
  <div class="card card-img-top">
  <% if @post.image.attached? %>
      <%= image_tag @post.image %>
    <% else %>
      <%= image_tag "no_image", size: "100x100" %>
  <% end %>
  <svg class="card-img-top" width="100%" height="400"></svg>
    <div class="card-img-overlay">
      <div class="float-left ml-2">
      <button type="button" class="btn btn-light" disabled>
        <%= @post.genre.name %>
      </button>
      </div>

      <div class="float-right mr-2">
        <%= link_to posts_path, class: "btn btn-light btn-sm" do %>
          閉じる<% end %>
        <% if @user == current_user %>
          <%= link_to edit_post_path(@post.id), class: "btn btn-primary btn-sm" do %>
          編集<% end %>
        
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-header">
    <%= @post.title %>
    <div class="float-right">
      <% if @post.liked_by?(current_user) %>
        <%= link_to post_likes_path(@post), method: :delete do %>
          ♥<%= @post.likes.count %>
        <% end %>
        コメント<%= @post.comments.count %>
      <% else %>
        <%= link_to post_likes_path(@post), method: :post do %>
          ♡<%= @post.likes.count %>
        <% end %>
        コメント<%= @post.comments.count %>
      <% end %>
    </div>
    <p class="card-text">
      <small class="text-muted"><%= @post.created_at.strftime("%Y/%m/%d") %> by<%= @user.name %></small>
    </p>
    <p class="mt-2"><%= @post.caption %></p>
  </div>
  <div class="card-body">
    <p class="card-text d-flex flex-wrap">
      <div class="comment-index">
      <% @post.comments.each do |comment| %>
      <div class="col-12 clearfix">
        <div class="comment-box"><%= comment.comment %>
          <div class="float-right">
            <small class="text-muted">
            by<%= comment.user.name %>
            <%= comment.created_at.strftime('%Y/%m/%d') %>
            </small>
            <button type="button" class="btn btn-outline-danger btn-sm">
              <% if comment.user == current_user %>
                <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete %>
              <% end %>
            </button>
          </div>
        </div>
      </div>
    <% end %>
    </div>
    </p>
    <div class="text-center">
      <%= form_with model: [@post, @comment] do |f| %>
        <%= f.text_area :comment, rows: '4', cols: "50%", placeholder: "コメントをここに" %>
        <%= f.submit "送信する" %>
      <% end %>
    </div>
  </div>
</div>
    