<div class="container">
  <div class="row mt-5">
    <div class="col-md-10 mx-auto">
      <div class="d-flex flex-wrap">
        <%= @post.genre.name %></td>
        <%= @post.title %>
        <%= @user.name %>
        <% if @post.image.attached? %>
            <%= image_tag @post.image.variant(gravity: :center, resize:"200x200", crop:"640x640+0+0").processed %>
          <% else %>
            <%= image_tag "no_image", size: "100x100" %>
        <% end %>
        <% if @post.user == current_user %>
          <%= link_to "編集", edit_post_path(@post.id) %>
          <%= link_to "削除", post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
        <% end %>
      </div>
      <% if @post.liked_by?(current_user) %>
        <p>
          <%= link_to post_likes_path(@post), method: :delete do %>
          ♥<%= @post.likes.count %> いいね
        <% end %>
        </p>
        <% else %>
        <p>
          <%= link_to post_likes_path(@post), method: :post do %>
          ♡<%= @post.likes.count %> いいね
        <% end %>
        </p>
      <% end %>
      <div>
        <p>コメント件数：<%= @post.comments.count %></p>
        <% @post.comments.each do |comment| %>
        <div class="d-flex flex-wrap">
          <%= comment.user.name %>
          <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
          <% if comment.user == current_user %>
            <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete %>
          <% end %>
        </div>
        <% end %>
      </div>
      <div>
        <%= form_with model: [@post, @comment] do |f| %>
          <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
          <%= f.submit "送信する" %>
        <% end %>
      </div>
    </div>
  </div>
</div>