<div class="container">
  <p class="h3 text-light mt-5 text-center">いいね一覧(全<%= @like_posts.count %>件)</p>
  <ul>
    <% @like_posts.each do |post| %>
    <li>
      <%= link_to post_path(post.id) do %>
        <% if post.image.attached? %>
          <%= image_tag post.image %>
        <% else %>
          <%= image_tag "no_image", size: "100x100" %>
        <% end %>
      <%= post.comments.count %>コメント
      <%= post.likes.count %> いいね</p>
      <% end %>
    </li>
    <% end %>
  </ul>
  <p class="h3 text-light mt-5 text-center">
    <%= @user.name %>さんの投稿(全<%= @posts.count %>件)</p>
  <ul>
    <li>
      <% @posts.each do |post| %>
        <%= link_to post_path(post.id) do %>
          <%= post.genre.name %>
          <%= post.title %>
          <% if post.image.attached? %>
            <%= image_tag post.image %>
          <% else %>
            <%= image_tag "no_image", size: "100x100" %>
          <% end %>
          <%= post.comments.count %>コメント
          <%= post.likes.count %> いいね
        <% end %>
      <% end %>
    </li>
  </ul>
</div>

 