<!DOCTYPE html>
<html>
  <head>
    <title>Teracord</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script><!--投稿編集ページにて画像変更を反映させる-->
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color:#313233;">
    <%= render "layouts/header" %>
    <main>
    <%= yield %>
    </main>
  </body>
</html>
